@{
    Layout = "~/_SiteLayout2.cshtml";
    Page.Title = "Dog Found";
}

<div class="content-grid mdl-grid">

    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--2dp" style="background-image: url(Assets/Images/dog1.jpg); background-repeat: no-repeat; background-size:cover;">
        <div class="mdl-card__supporting-text">
            <a href="~/Lost.cshtml" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                I've lost my dog
            </a>
            </div>
        </div>
    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--2dp" style="background-image: url(Assets/Images/dog2.jpg); background-repeat: no-repeat; background-size:cover;">
        <div class="mdl-card__supporting-text">
            <a href="~/Found.cshtml" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                I've found a dog
            </a>
        </div>
    </div>
    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--2dp" style="background-image: url(Assets/Images/dog3.jpg); background-repeat: no-repeat; background-size:cover;">
        <div class="mdl-card__supporting-text">
            <a href="~/Pound.cshtml" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Check dog pound
            </a>
        </div>
    </div>

</div>
